<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Email list</title>
</head>
<body>

    <div id="app" v-cloak>
        <h2> {{title}} </h2>
        <ul v-if="mails.length === num">
            <li v-for="mail in mails"> {{mail}} </li>
        </ul>
        <p v-else>Caricamento mails...</p>
    </div>
    
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>